/* police */
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
a {
  color: black;
  text-decoration: none;
}
.return a {
  color: #eee;
}
a:hover {
  font-size: 3em;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Mise en page*/

body {
  background-color: rgb(165, 163, 163);
}

.container {
  position: relative;
  text-align: center;
}

img {
  opacity: 0.4;
  width: 100%;
  height: 100vh;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* header */

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Emblema One", cursive;
  font-size: 5em;
  font-weight: bold;
}
.return a,
h2,
#profilTitle,
#professionnalTitle,
#formationTitle,
.footerTitle {
  font-size: 2em;
}

/* Section Acceuil  Footer*/

#profilTitle,
#professionnalTitle,
#formationTitle {
  display: flex;
  justify-content: space-around;
  height: 650px;
}
#profilTitle,
#professionnalTitle,
#formationTitle,
.footerTitle,
ul {
  align-items: center;
  width: 33.3%;
}
.professional_experience {
  color: #eee;
  font-size: 1.5em;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #333;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}
.visible {
  visibility: visible;
}
footer,
section {
  display: flex;
}

/* Section Professionnal experience */

.professional_experience {
  display: flex;
  flex-direction: column;
}

.professionnal {
  display: flex;
  justify-content: space-around;
}

/* span {
  size: 1.5em;
  font-weight: bold;
}
li {
  padding: 10px;
} */

/* footer */

/* .title,
{
  display: flex;
  flex-direction: column;
} */
