/* police */
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
a {
  color: black;
  text-decoration: none;
}
.return a {
  color: #eee;
}
a:hover {
  font-size: 2em;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Mise en page*/

body {
  background-color: rgb(165, 163, 163);
}

.container {
  position: relative;
  text-align: center;
}
/* .container > img {
  background-repeat: repeat;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
} */
/* .container > #image {
  background-image: url("./photo/fond.webp");
  background-repeat: repeat;
  min-height: 2000px;
  height: 100%;
} */
/* 
img {
  
} */

.page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

li :first-child,
span {
  font-weight: bold;
}

/* header */

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Emblema One", cursive;
  font-size: 5em;
  font-weight: bold;
}
.return a,
h2,
#profilTitle,
#professionnalTitle,
#formationTitle,
.footerTitle {
  font-size: 2em;
}

.professional_experience,
.formation,
.profilProfessionnel,
li a {
  color: #eee;
}
/* Section Acceuil  Footer*/

#profilTitle,
#professionnalTitle,
#formationTitle {
  display: flex;
  justify-content: space-around;
  height: 650px;
}
#profilTitle,
#professionnalTitle,
#formationTitle,
.footerTitle {
  align-items: center;
  width: 33.3%;
}

footer,
section {
  display: flex;
}

/* Section */

.professionnal {
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.professional_experience,
.formation,
.profilProfessionnel {
  color: #eee;
  font-size: 1.5em;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: rgb(62, 60, 60);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-y: scroll;
}

.formation,
.profilProfessionnel {
  align-items: center;
}

.visible {
  visibility: visible;
}

ul {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* section profil professionnel */

.formation > .professionnal {
  display: flex;
  text-align: left;
  width: 50%;
}

li img {
  display: flex;
  flex-direction: row;
  opacity: 1;
  width: 70px;
  height: 70px;
}
/* media queries */

@media screen and (max-width: 1400px) {
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .professional_experience,
  .formation,
  .profilProfessionnel {
    display: flex;
    flex-direction: column;
  }
  .professionnal {
    display: flex;
    flex-direction: column;
  }
}
